<a class="card card--project" href="{{ p.url }}">
  <span class="card__img" aria-hidden="true">
    <img src="{{ p.data.thumb or '/assets/img/placeholder-wall.svg' }}"
      srcset="{{ (p.data.thumb or '/assets/img/placeholder-wall.svg') | replace('.jpg', '-640.jpg') }} 640w, {{ p.data.thumb or '/assets/img/placeholder-wall.svg' }} 1600w"
      sizes="(min-width: 60rem) 400px, 92vw"
      alt="" loading="lazy" width="640" height="420">
  </span>
  <span class="card__body">
    <span class="card__tag">{{ p.data.serviceName }} &middot; {{ p.data.projectLocation }}</span>
    <span class="card__title">{{ p.data.title }}</span>
    <span class="card__blurb">{{ p.data.lede }}</span>
  </span>
</a>
